body {
  margin: 0;
  overflow: hidden;
}
#enter-ar {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background: #00ffcc;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
